@font-face {
    font-family: mont;
    src:url("../font/montserrat.ttf");
}

*{
    font-family: mont, sans-serif;
}

.main_container{
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw ;
    padding: 2rem;
}